<!DOCTYPE html>
<html>
  <head>
    <title>Bem vindo ao Ecommerce Showzim</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render 'layouts/store/nav' %>
    <%= yield %> <%# aqui somente o que pertense a rota application que sera index.html de HOME vai carregar somente%>
    <%= render 'layouts/store/footer' %>
    <%# esse yield parece ser a a propria view que vai carrgar aqui, e qualquer coisa que eu colocar em volta dela vai carregar em todos %>
    <%# quando chegar a requisição pela "rota" ela sabe que é o "controller" vai saber quem é action e a action chama a view que vai ser "index.html"  %>
  </body>
</html>
